@import "/src/theme/variables.scss";
@import "/src/theme/color.scss";

.yourCart {
  width: 100%;
  max-width: 1600px;
  min-width: 350px;

  margin: 5% auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  h1 {
    color: $blue;
    width: 90%;
    margin: 0 auto;
  }
  h6 {
    width: 90%;
    margin: 0 auto 2%;
    font-size: 20px;
    color: $grey;
  }

  .carts {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;

    @media (max-width: 900px) {
      flex-direction: column;
    }
    .boxContainer {
      width: 65%;
      padding: 2%;
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      @media (max-width: 900px) {
        width: 100%;
      }
      .box {
        width: 100%;
        height: 60vh;
        min-height: 200px;
        overflow: auto;
        margin-bottom: 20px;
        padding: 0% 1%;
        .product_card {
          display: flex;
          position: relative;
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          margin-bottom: 25px;
          padding: 3%;
          margin: 10px;
          .imagePhone {
            width: 100px;
            @media (max-width: 600px) {
              width: 70px;
            }
          }
          .imageStar {
            width: 30px;
            align-self: flex-start;
          }
          .card_content {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 1.5%;
            @media (max-width: 600px) {
              padding-left: 1%;
            }

            .open_box {
              width: fit-content;
              background: lightgrey;
              border-radius: 5px;
              font-size: 16px;
              line-height: 19px;
              align-items: center;
              text-align: center;
              color: $white;
              padding: 3.5px 6px;
              align-self: flex-end;
              height: fit-content;
              @media (max-width: 600px) {
                font-size: 12px;
              }
            }

            .card_description {
              display: flex;
              flex-direction: column;
              font-weight: 500;

              .product_name {
                font-size: 24px;
                @media (max-width: 600px) {
                  font-size: 20px;
                }
              }
              .product_properties {
                font-size: 16px;
                @media (max-width: 600px) {
                  font-size: 12px;
                }
              }
              .product_price {
                font-size: 20px;
                color: $red;
                @media (max-width: 600px) {
                  font-size: 16px;
                }
              }
            }

            .remove {
              color: $blue;
              width: fit-content;
              position: absolute;
              bottom: 15%;
              padding: 1% 3%;
              align-self: flex-end;
              border: 0.5px solid $blue;
              border-radius: 5px;
              text-decoration: none;
              cursor: pointer;
              @media (max-width: 600px) {
                font-size: 12px;
                padding: 4px 20px;
              }
            }
          }
        }
      }
    }

    .your_order {
      right: 0%;
      position: absolute;
      width: 30%;
      min-width: 200px;
      background: #ffffff;
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 2%;
      height: fit-content;
      @media (max-width: 900px) {
        position: unset;
        margin-top: 20px;
        width: 100%;
        min-width: unset;
      }
      .order_title {
        color: $blue !important;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;

        color: $primary-color;
        @media (max-width: 1200px) {
          font-size: 28px;
        }
        @media (max-width: 900px) {
          font-size: 24px;
        }
      }
      .list {
        overflow: auto;
        height: 25vh;
        padding: 2%;
        @media (max-width: 900px) {
          height: 30vh;
        }
        .description {
          display: flex;
          justify-content: space-between;
          .product_name,
          .product_price {
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */
            display: flex;
            align-items: center;
            color: #000000;
          }
          .product_name {
            text-align: left;
          }
          .product_price {
            text-align: right;
          }
        }
      }
      .total {
        width: 95%;
        display: flex;
        margin: 5% auto 0;
        justify-content: space-between;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        .title {
          color: #000000;
        }
        .amount {
          text-align: right;
          color: $red;
        }
      }
    }
  }
}
