$primary-color: #4ba4f0;
$primary-color-opacity: #4ba4f04d;
$blue: rgba(4, 28, 63, 1);
$red: #e62525;
$DarK-Primary: #041c3f;
// $blue: $primary-color;
$light-gray: #a8a8a8;
$black: #000000;
$white: #ffffff;
$darkwhite: #e5e5e5;
$grey: #9a9a9a;
$light-grey: #c1c1c1;
$border-grey: #c4c4c4;

$time: 0.5s;
// $border-dark: rgba($base-color, 0.88);
