@import "/src/theme/variables.scss";
@import "/src/theme/color.scss";

// ::-webkit-scrollbar {
//   width: 6px;
//   height: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px $primary-color;
//   border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $primary-color;
//   border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #b30000;
// }

.Notifications {
  .Title {
    font-weight: 500;
    color: $primary-color;
    margin: 2% 5%;
  }

  .Latest {
    height: 450px;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-right: 5%;

    .Subtitle {
      color: $primary-color;
      font-weight: 500;
      text-decoration: none;
    }

    .Not {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 50px;
      width: 100%;
      height: auto;
      background-color: white;
      border: solid 1px white;
      border-radius: 5px;
      box-shadow: lightgray 0 0px 10px;
      padding: 2% 5%;
      @include font-size18();

      .Time {
        white-space: nowrap;
      }

      p {
        text-decoration: none;
      }

      p:hover {
        color: black;
      }
    }
  }

  .Clear {
    text-decoration: none;
    color: $primary-color;
    font-size: 17px;
    font-weight: 500;
    float: right;
    margin: 2% 10%;
    cursor: pointer;
  }

  .Clear:hover {
    color: black;
  }
}

@media only screen and (max-width: 1000px) {
  .Notifications {
    .Not p {
      font-size: 14px;
    }
  }
}
