@import "/src/theme/color.scss";

:root {
  .Orsignup {
    color: $grey;
    display: flex;
    justify-content: center;
    text-decoration: none;
    &:before {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid $border-grey;
      margin: auto;
      margin-right: 10px;
    }
    &:after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid $border-grey;
      margin: auto;
      margin-left: 10px;
    }
    &:hover {
      color: $grey;
    }
  }

  .icon {
    border: 1px solid #0000001f;
    border-radius: 50%;
    padding: 1%;
    margin: 5px;
  }
}
