@import "/src/theme/color.scss";
.login {
  width: 100%;
  position: absolute;
  top: 10%;

  h1 {
    color: $blue;
    text-align: center;
    margin: revert;
  }
  .form {
    width: 40%;
    margin: 0 auto;
    min-width: 350px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2%;
    padding-bottom: 1%;
    #basic-addon2:hover {
      .eye path {
        fill: $primary-color;
      }
    }

    .loginBtn {
      border-radius: 50px !important;
      width: 100% !important;
    }
    #loginBtn {
      margin: 5% auto 10%;
    }
  }
}
